<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <style>
    * {
        list-style-type: lower-alpha;
    }
    span {
        color: red;
        font-size: 14px;
    }
    </style>
</head>
<body>
    <div id='app'>
        <div>
            <input type="text" v-model.trim="inputVal" @keyup.enter="addTask">
            <button @click='addTask'>提交</button>
            <span>{{ prompt }}</span>
            <ul>
                <li v-for="(item, index) in toDoList" :key="item">
                    {{ item }}
                    <button @click='doneTask(index)'>x</button>
                </li>
            </ul>
        </div>
        <div>
            <h4>已完成任务</h4>
            <ul>
                <li v-for="(item, index) in doneList" :key="item">{{ item }}</li>
            </ul>
            <!-- <span>{{inputVal}}</span> -->
        </div>
    </div>

    <script>
        const vm = new Vue({
            el: '#app',
            data: {
                inputVal:'',
                prompt: '',
                toDoList:[],
                doneList:[]
            },
            methods: {
                addTask() {
                    // this.inputVal = '';
                    // console.log(this.inputVal);
                    if(this.inputVal == ''){
                        this.prompt = "请输入任务"
                        
                        return
                    }

                    if(this.toDoList.includes(this.inputVal)) {
                        this.prompt = '该任务已添加';
                        this.inputVal = '';
                        return
                    }
                    this.toDoList.push(this.inputVal);
                    this.inputVal = '';

                },
                doneTask(index) {
                const task = this.toDoList.splice(index, 1);
                this.doneList.push(...task)
            }
            },
            watch: {
                // inputVal() {
                //     this.toDoList.push(this.inputVal);
                //     this.inputVal = ''
                // }
            },
            
        })
    </script>
</body>
</html>